.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 70%;

  p {
    margin: 0;
  }

  .edit-icon {
    font-size: 2.5rem;
  }

  .upload-container {
    width: 100%;
    margin: 0 auto;
  }

  .template-content {
    width: 100%;
  }
}

.grade-weight-icon-container {
  display: flex;
  gap: 1rem;
}
.grade-weight-icon {
  font-size: 2.5rem;
}

.grades-filter {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.grade-weight-random-description-editor {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

.grade-weight-random-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  p {
    font-size: 1.5rem;
  }

  .grade-weight-random-description-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.exam-table-container {
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .exam-table-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    .exam-table-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-wrap: wrap;

      .exam-table-form-required {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .exam-table-classes {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    .show-exam-table {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;

      .exam-table-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .excel-icon {
        width: 4.5rem;
        margin-right: auto;
        cursor: pointer;
      }
    }
  }

  .exam-table-cell {
    p {
      margin: 0;
    }
    ul {
      margin-top: 0;
    }
  }

  .clickable {
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #f0f0f0;
  }
}

@media screen and (max-width: 1600px) {
  .info-container {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .info-container {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .info-container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .info-container {
    width: 100%;
  }
}

@media screen and (max-width: 626px) {
  .exam-table-header {
    .exam-table-form {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .exam-table-form-item {
        .ant-row {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
