.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 70%;

  p {
    margin: 0;
  }

  .edit-icon {
    font-size: 2.5rem;
  }

  .upload-container {
    width: 100%;
    margin: 0 auto;
  }

  .template-content {
    width: 100%;
  }
}

.grade-weight-icon-container {
  display: flex;
  gap: 1rem;
}
.grade-weight-icon {
  font-size: 2.5rem;
}

.grade-weight-random-description-editor {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

.grade-weight-random-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  p {
    font-size: 1.5rem;
  }

  .grade-weight-random-description-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1600px) {
  .info-container {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .info-container {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .info-container {
    width: 95%;
  }
}
