.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 70%;

  p {
    margin: 0;
  }

  .edit-icon {
    font-size: 2.5rem;
  }
}

.grade-weight-icon-container {
  display: flex;
  gap: 1rem;
}
.grade-weight-icon {
  font-size: 2.5rem;
}
