.grade-project-container {
  width: 60%;
  margin: 0 auto;

  .ant-spin {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
  }

  .grade-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h2 {
      word-break: break-word;
    }
  }

  #gradeProject {
    align-self: center;
    width: 100%;

    label {
      font-size: 1.7rem;
    }

    input,
    textarea {
      font-size: 1.7rem;
      padding: 0.5rem 1rem;
    }

    .ant-select-selector {
      font-size: 1.7rem;
    }
    .form-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;

      button {
        font-size: 1.7rem;
        padding: 2rem 2rem;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .grade-project-container {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .grade-project-container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .grade-project-container {
    width: 90%;
  }
}
