.ant-tabs-nav-list {
  gap: 1rem;

  .ant-tabs-tab {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin: 0 0 0 2rem !important;

    .ant-tabs-tab-btn {
      display: flex;
      align-items: center;

      .lable-with-icon {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      .lable-with-icon {
        .tab-icon {
          path {
            stroke: #1677ff;
            fill: #1677ff;
          }
        }
        .tab-icon-special {
          path {
            stroke: #1677ff;
          }
        }
      }
    }
  }
}

.project-manage-actions {
  display: flex;
  gap: 1rem;
}

.modal-select-input {
  width: 100%;

  .ant-select {
    width: 100%;
  }
}

.projects-judge-list {
  display: flex;
  gap: 1.5rem;
}

.termination-project-actions {
  display: flex;
  font-size: 2.5rem;
  gap: 1.5rem;
}

.upper-table-options {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
