.file-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .action-icon {
    font-size: 1.8rem !important;
  }

  .file-card-meta {
    width: 100%;

    .file-icon {
      font-size: 2.5rem;
    }
    .file-title {
      font-size: 1.7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description-container {
      position: relative;
      width: 100%;
    }
    .file-description {
      width: 100%;
      font-size: 1.5rem;
      word-break: break-word;
      max-height: 100px;
      overflow: hidden;
      position: relative;

      &.expanded {
        max-height: none;
      }
    }
    .ellipsis-container {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1.5rem;
      background: linear-gradient(to bottom, transparent, white 50%);
      width: 100%;

      span {
        cursor: pointer;
      }

      .ellipsis-icon {
        font-size: 1.7rem;
        transition: 0.2s ease-in-out all;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }
  .upload-date {
    position: absolute;
    bottom: 22%;
    left: 2%;
    color: rgba(0, 0, 0, 0.45);
  }

  .file-original-name {
    position: absolute;
    bottom: 22%;
    right: 2%;
    color: rgba(0, 0, 0, 0.45);
  }
}

.description-modal {
  .modal-title {
    max-width: 95%;
  }
}
