.announcements-container {
  .create-announcement {
    margin: 0 auto;
    width: 50%;
  }

  .announcements-board {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .form-input-group {
    label {
      font-size: 1.5rem;
    }
    .announcement-form-label {
      font-size: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}
