.action-items {
  display: flex;
  gap: 1rem;
}

.submission-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .submission-info {
    font-size: 1.7rem;
    margin-bottom: -0.7rem;
  }
  .submission-late {
    color: red;
    font-size: 1.7rem;
    .upload-warning {
      text-decoration: underline;
    }
  }
  .ant-upload-list-item-actions.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .anticon {
      font-size: 2.4rem;
    }
  }
}

.grade-info {
  .detail-item {
    display: table-row;
    .detail-item-header,
    .detail-item-content {
      display: table-cell;
      padding: 8px 16px;
      vertical-align: middle;
    }

    .detail-item-header {
      font-weight: bold;
      width: 30%;
      text-align: right;
      opacity: 0.7;
    }

    .detail-item-content {
      width: 70%;
      text-align: right;
    }
  }

  .reviews {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .review-container {
      display: flex;
      width: 100%;
      .review {
        display: flex;
        flex-direction: column;
        width: 100%;
        .review-item {
          display: flex;
          flex-direction: column;
          .review-header {
            font-weight: bold;
            color: #525252;
          }
          .review-content {
            word-break: break-word;
          }
        }
      }
    }
  }

  .single-review-container {
    display: flex;
    width: 100%;
    .review {
      display: flex;
      flex-direction: column;
      width: 100%;
      .review-item {
        display: flex;
        flex-direction: column;
        .review-header {
          font-weight: bold;
          color: #525252;
        }
        .add-margin {
          margin-top: 2rem;
        }
        .review-content {
          word-break: break-word;
        }
      }
    }
  }
}

.upload-submission-actions {
  display: flex;
  align-items: center;
  .icon-group {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 626px) {
  .grade-info {
    .reviews {
      grid-template-columns: repeat(1, 1fr);
      .review-container {
        flex-direction: column;
      }
    }
  }
}
