.chat-container {
    position: absolute;
    font-size: 1.3rem;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    width: 35em;
    height: 50rem;
    background-color: white;
    left: 10rem;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    max-height: 90vh; /* Allow it to grow up to 90% of the viewport height */

    .chat-wrapper {
        position: relative;
        height: 100%; /* Full height of the parent */
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        .participants-list {
            &--wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                overflow-x: auto;
                white-space: nowrap; /* Prevents wrapping of text */
                padding: 0.5rem 0;

                &::-webkit-scrollbar {
                    height: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                div {
                    font-size: 1.5rem;
                }

                .participant {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem 0.8rem;
                    border-radius: 8px;
                    background-color: #9EDF9C;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                    &:hover {
                        background-color: #FF4C4C;
                    }
                    &-title {
                        padding: 0.5rem 0;
                    }
                }
            }
        }

        .chat-content {
            flex-grow: 1; /* Take remaining space */
            overflow: auto; /* Prevent overflow */
        }

        .chat-users {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-top: 1rem;
            font-size: 1.6rem;
            align-items: center;
            .chat-user {
                position: relative;
                display: flex;
                width: 100%;
                gap: 0.5rem;
                padding: 0.6rem 0.8rem;
                background-color: #fce7c8;
                border-radius: 6px;
                align-items: center;
                cursor: pointer;
                .chat-action-icon {
                    position: absolute;
                    left: 1rem;
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;
                }
                &:hover {
                    .chat-action-icon {
                        animation: shrinkExtend 0.3s ease-in-out;
                    }
                }
            }
        }

        .chat-message-container {
            position: relative;
            width: 100%;
            flex-shrink: 0; /* Prevent shrinking */
            margin-top: auto; /* Push this container to the bottom */
            .chat-message {
                display: flex;
                padding-right: 3rem;
            }
            .chat-send-icon {
                position: absolute;
                translate: translateY(-50%);
                left: 1rem;
                bottom: 1rem;
                color: #ccc;
                transition: color 0.3s ease-in-out; /* Add transition for color */
            }
            .chat-send-icon.active {
                color: #1677ff;
            }
        }

        .chat-search-container {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .chat-search {
                border-radius: 14px;
                padding: 0.8rem 3rem 0.8rem 1rem;
                height: 40px;
                width: 100%; // Added to ensure input takes full container width
            }

            .search-icon {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                font-size: 1.5rem;
                color: #777;
                pointer-events: none;
            }
        }
    }

    .chat-close {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 2rem;
        color: #ccc;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
    }
}

@keyframes shrinkExtend {
    0% {
        transform: scale(0.9); /* Slight shrink */
    }
    50% {
        transform: scale(1.1); /* Slight extend */
    }
    100% {
        transform: scale(1); /* Back to normal */
    }
}
