.upload-container {
  width: 50%;
  margin: 0 auto;
}

.toolbar-wrapper {
  direction: ltr;
  font-size: 2rem;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.template-input-group {
  font-size: 2rem;

  input {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  textarea {
    font-size: 2rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    resize: vertical;
  }
}

.template-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;

  .ant-collapse-expand-icon svg {
    rotate: 180deg;
  }

  .ant-collapse-item-active {
    .ant-collapse-expand-icon svg {
      transform: rotate(-90deg) !important;
    }
  }
}
