.template-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.upload-container {
  width: 50%;
  margin: 0 auto;

  .templates-button-interaction {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

    p {
      margin: 0;
      font-size: 2rem;
    }
  }
}

.toolbar-wrapper {
  direction: ltr;
  font-size: 2rem;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.template-input-group {
  font-size: 2rem;

  input {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  .ql-toolbar {
    margin-top: 3rem;
  }
}

.template-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 3rem auto;
}

.edit-modal {
  width: 45% !important;
}

@media screen and (max-width: 1600px) {
  .upload-container {
    width: 60%;
  }
  .template-content {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .upload-container {
    width: 70%;
  }
  .template-content {
    width: 100%;
  }
  .edit-modal {
    width: 60% !important;
  }
}

@media screen and (max-width: 1024px) {
  .upload-container {
    width: 80%;
  }
  .template-content {
    width: 100%;
  }
  .edit-modal {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .upload-container {
    width: 90%;
  }
  .template-content {
    width: 100%;
  }
  .edit-modal {
    width: 80% !important;
  }
}
