.file-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 34rem;
  min-width: 45rem;
  max-width: 45rem;

  .action-icon {
    font-size: 1.8rem !important;
  }

  .file-card-meta {
    width: 100%;

    .file-video {
      width: 100%;
      height: auto;
      max-height: 100%;
    }

    .file-icon {
      font-size: 2.5rem;
    }
    .file-title {
      font-size: 1.7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description-container {
      position: relative;
      width: 100%;
    }
    .file-description {
      width: 100%;
      font-size: 1.5rem;
      word-break: break-word;

      &.clickable {
        cursor: pointer;
      }
    }
  }

  .upload-date {
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    color: rgba(0, 0, 0, 0.45);
  }

  .file-original-name {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    color: rgba(0, 0, 0, 0.45);
  }
}

.description-modal {
  .modal-title {
    max-width: 95%;
  }
}

.edit-record-modal {
  width: 60% !important;
  height: 80% !important;
  overflow-y: auto;

  .ant-descriptions-header {
    margin: 2rem 0 0;
  }

  .edited-title-modal-item {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  .ant-descriptions-item-content {
    width: 50%;
  }
  .edited-description-modal-item {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .file-card {
    .file-original-name {
      bottom: 5.5rem;
    }
    .upload-date {
      bottom: 5.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .file-card {
    .file-card-meta {
      .file-title {
        font-size: 1.5rem;
      }
    }
  }
  .edit-record-modal {
    width: 90% !important;
  }
  .edit-record-modal {
    p {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .file-card {
    height: 35rem;
    .file-original-name {
      bottom: 6rem;
    }
    .upload-date {
      bottom: 6rem;
    }
  }
  .edit-record-modal {
    .edited-title-modal-item,
    .edited-description-modal-item,
    .ant-descriptions-item-content {
      span {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 626px) {
  .file-card {
    height: 36rem;
    .file-original-name {
      bottom: 6.8rem;
    }
    .upload-date {
      bottom: 6.8rem;
    }
    .file-card-meta {
      .file-description {
        max-height: 17rem;
      }
    }
  }
}
