.home-page-statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home-page-upcoming-events-list {
  display: flex;
  gap: 2rem;

  .list-calendar {
    flex: 6;
  }

  .list-info {
    flex: 4;
  }
}

.home-page-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .home-page-quick-links-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;

    .quick-link-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      margin-top: 2rem;
      cursor: pointer;

      span {
        font-size: 4rem;
      }
    }
  }

  .home-page-notifications-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .notification-list-message {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .notification-list-close-icon {
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.home-page-main-content {
  margin-top: 5rem;
}

.special-icons {
  width: 4rem;
  height: 4rem;
}
