.home-page-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .home-page-quick-links-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;

    .quick-link-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      margin-top: 2rem;
      cursor: pointer;
      border-radius: 1rem;
      transition: 0.3s all ease-in-out;

      span {
        font-size: 4rem;
        padding-top: 0.5rem;
      }
      &:hover {
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }

  .home-page-notifications-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.4rem;
      align-self: flex-end;
      margin-bottom: 0.5rem;
      color: #1677ff;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      &:hover {
        color: #4096ff;
      }
    }
  }

  .home-page-notifications-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .ant-alert {
      display: flex;
      align-items: center;
      padding: 1rem 2.4rem;
    }

    .notification-list-message {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;
        word-break: break-word;
      }

      .notification-list-date {
        color: rgba(0, 0, 0, 0.45);
        font-size: 1.2rem;
      }

      .notification-list-close-icon {
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.home-page-main-content {
  margin-top: 5rem;
}

.special-icons {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
}

.home-page-upcoming-events {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  .calendar {
    flex: 2;
    .ant-picker-calendar-date-content {
      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
  .list-info {
    flex: 1;
    .ant-alert-content {
      text-align: center;
      align-self: flex-start;
      .ant-alert-message {
        font-size: 1.6rem;
        font-weight: 600;
      }
      .ant-alert-description {
        ul {
          list-style: none;
          padding: 0;
          text-align: right;
          .ant-ribbon-wrapper {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .home-page-upcoming-events {
    .calendar {
      flex: 3;
    }
    .list-info {
      flex: 1;
    }
  }
}

@media screen and (max-width: 1300px) {
  .home-page-upcoming-events {
    flex-direction: column;
    .calendar {
      flex: 1;
    }
    .list-info {
      flex: 1;
      .ant-alert-content {
        .ant-alert-message {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .home-page-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 626px) {
  .home-page-info {
    .home-page-quick-links-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .quick-link-item {
        font-size: 1.9rem;
        text-align: center;
      }
    }
    .home-page-notifications-list {
      .notification-list-message {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  .home-page-upcoming-events {
    .calendar {
      .ant-picker-calendar-date-content {
        ul {
          text-align: center;
          li {
            span {
              span {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
        .holiday-badge {
          span {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    .list-info {
      .ant-alert-content {
        .ant-alert-message {
          font-size: 2.5rem;
        }
      }
    }
  }
}
