.system {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .system-title {
    margin-bottom: 2rem;
  }
  .control-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      min-width: 20rem;
      border: 1px solid #ccc;
      border-radius: 2rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
      padding: 3rem;

      .box-title {
        margin: 0 0 1.5rem;
      }
    }
    .switches {
      .switch {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
  .edit-icon {
    font-size: 2.5rem;
  }
  .cancel {
    color: #1677ff;
    transition: 0.2s color linear;
    &:hover {
      color: #69b1ff;
    }
  }

  .publish-grades {
    .publish-button {
      width: 100%;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  .site-output {
    .output-item {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
