.journal {
  width: 70%;
  margin: 0 auto;

  .journal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .journal-header-counter {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        margin: 0;
      }
    }
    .journal-header-filter {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
