.list-projects {
  width: 100%;
  padding-left: 24px;

  .project-box {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    min-height: 25rem;
    padding: 3rem;
    border-radius: 3rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    width: (100%/3);
    & > svg {
      width: 10%;
      stroke: red;
      /* fill: red; */
    }
    .project-info {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .project-title {
        margin-bottom: 0.5rem;
      }

      .project-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        .project-advisors-list {
            display: flex;
            gap: 0.4rem;
            .project-advisor {
              gap: 0.6rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 700;
              border-radius: 1.5rem;
              padding: 0.5rem 1.6rem;
              background-color: rgba(22, 119, 255, 0.8);
              color: white;
              width: fit-content;
              cursor: pointer;
              transition: background-color 0.2s linear;
            }
        }
        .more-info {
          width: fit-content;
          transition: transform 0.2s linear;
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
          }
        }
      }
    }

    p,
    h3 {
      margin: 0;
      display: inline;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
