.taken {
  color: red;
}

.projects {
  width: 100%;
  font-size: 1.5rem;

  .list-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between; /* Spread items evenly */

    .project-overlay {
      position: relative;
      display: flex;
      min-height: 35rem;
      max-height: 35rem;
      padding: 3rem;
      border-radius: 3rem;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .taken-tag {
        position: absolute;
        visibility: hidden;
      }
      .project-box-taken {
        opacity: 0.7;
      }
      .project-box {
        width: 100%;
        display: flex;
        gap: 1rem;
        .project-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .project-header {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 0.5rem;
            .project-title {
              width: fit-content;
            }

            .favorite-star {
              margin-right: auto;
              margin-bottom: auto;
            }

            .star-marked {
              & > svg {
                fill: red;
              }
            }
          }

          .project-badges {
            display: flex;
            gap: 1rem;
            .project-badge {
              padding: 0.4rem 1.4rem;
              border-radius: 1.5rem;
              color: #000; /* Optional: white text for better readability */
              font-weight: bold; /* Optional: bold text to emphasize the badge look */
              font-size: 1.1rem;
              display: inline-block; /* Makes sure the badge fits tightly around content */
            }

            .project-suitable {
              background-color: rgba(255, 201, 22, 0.8);
              box-shadow: 0 4px 6px rgba(255, 201, 22, 0.4), 0 2px 4px rgba(0, 0, 0, 0.1); /* Added softer shadows for a lifted badge effect */
            }

            .project-type {
              background-color: rgba(224, 122, 255, 0.8);
              box-shadow: 0 4px 6px rgba(198, 100, 218, 0.4), 0 2px 4px rgba(0, 0, 0, 0.1); /* Added softer shadows for a lifted badge effect */
            }
          }

          .project-description {
            width: 90%;
          }

          .project-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: auto;
            .project-advisors-list {
              display: flex;
              gap: 0.4rem;
              .project-advisor {
                gap: 0.6rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: 700;
                border-radius: 1.5rem;
                padding: 0.5rem 1.6rem;
                background-color: rgba(22, 119, 255, 0.8);
                color: white;
                width: fit-content;
                cursor: pointer;
                transition: background-color 0.2s linear;
              }
            }
            .more-info {
              width: fit-content;
              transition: transform 0.2s linear;
              &:hover {
                cursor: pointer;
                transform: scale(1.05);
              }
            }
          }
        }

        p,
        h3 {
          margin: 0;
          display: block;
        }

        h3 {
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
    }

    .project-overlay-taken {
      .taken-tag {
        visibility: visible;
        bottom: 8rem;
        color: red;
        font-family: "Suez One", serif;
        font-weight: 300;
        font-style: normal;
        left: 10rem;
        rotate: -15deg;
        font-size: 5rem;
        border: 4px solid red;
        border-radius: 1rem;
        padding: 0.1rem 1rem 0.8rem 1rem;
      }
      // background-image: url(../../assets/not-available.png);
      // cursor: not-allowed;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles for MacBook Pro 13" M1 with Retina display */
  .project-actions {
    justify-content: center;
    align-items: center;
    .project-advisors-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
