.profile-page {
  display: flex;
  justify-content: center;
  gap: 10rem;

  .profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .profile-page-header-info {
      .copy-email {
        color: #1677ff;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: #4096ff;
        }
      }

      .user-type {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    .profile-page-header-buttons {
      display: flex;
      gap: 2rem;
    }

    .basic-statistics {
      canvas {
        width: 100rem !important;
        height: 50rem !important;
      }
    }
  }
}

.skills-statistics {
  canvas {
    width: 70rem !important;
    height: 70rem !important;
  }
}

.avatar-text {
  font-size: 8rem;
}

.profile-svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1024px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
