.profile-page {
  display: flex;
  justify-content: center;
  gap: 10rem;

  .profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .profile-page-header-info {
      .copy-email {
        color: #1677ff;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: #4096ff;
        }
      }

      .user-type {
        display: flex;
        align-items: center;
        gap: 1rem;
        .user-type-labels {
          display: flex;
          gap: 1rem;
        }
      }
    }

    .profile-page-header-buttons {
      display: flex;
      gap: 2rem;
    }

    .basic-statistics {
      canvas {
        width: 100rem !important;
        height: 50rem !important;
      }
    }
  }
}

.skills-statistics {
  canvas {
    width: 70rem !important;
    height: 70rem !important;
  }
}

.avatar-text {
  font-size: 8rem;
}

.profile-svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1920px) {
  .profile-page {
    .profile-page-header {
      .basic-statistics {
        canvas {
          width: 90rem !important;
          height: 45rem !important;
        }
      }
    }
  }
  .skills-statistics {
    canvas {
      width: 60rem !important;
      height: 60rem !important;
    }
  }
}

@media screen and (max-width: 1600px) {
  .profile-page {
    .profile-page-header {
      .basic-statistics {
        canvas {
          width: 80rem !important;
          height: 40rem !important;
        }
      }
    }
  }
  .skills-statistics {
    canvas {
      width: 58rem !important;
      height: 58rem !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .profile-page-header {
      .basic-statistics {
        canvas {
          width: 90rem !important;
          height: 45rem !important;
        }
      }
    }
  }
  .skills-statistics {
    canvas {
      width: 65rem !important;
      height: 65rem !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .profile-page {
    .profile-page-header {
      .basic-statistics {
        canvas {
          width: 90rem !important;
          height: 45rem !important;
        }
      }
    }
  }
  .skills-statistics {
    canvas {
      width: 70rem !important;
      height: 70rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-page {
    .profile-page-header {
      .basic-statistics {
        canvas {
          width: 80rem !important;
          height: 40rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 626px) {
  .profile-page {
    .profile-page-header {
      .ant-avatar {
        width: 20rem !important;
        height: 20rem !important;
      }
      .ant-avatar-string {
        .avatar-text {
          font-size: 6rem;
        }
      }
      .profile-page-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .private-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            margin: 0.5rem 0;
          }
        }
        .user-type {
          display: flex;
          flex-direction: column;
          align-items: center;
          .user-type-labels {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }
  }
}
