.profile-page {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;

  .profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    .profile-page-header-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .private-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;

        p {
          margin: 0;
        }
      }
      .copy-email {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #1677ff;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: #4096ff;
        }
      }

      .user-type {
        display: flex;
        align-items: center;
        gap: 1rem;
        .user-type-labels {
          display: flex;
          gap: 1rem;
        }
      }
    }

    .profile-page-header-buttons {
      display: flex;
      gap: 2rem;
    }

    .basic-statistics {
      width: 70%;
      canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}

.avatar-text {
  font-size: 8rem;
}

.profile-svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1200px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .profile-page-header {
      .basic-statistics {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .profile-page {
    .profile-page-header {
      .basic-statistics {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 626px) {
  .profile-page {
    .profile-page-header {
      .ant-avatar {
        width: 20rem !important;
        height: 20rem !important;
      }
      .ant-avatar-string {
        .avatar-text {
          font-size: 6rem;
        }
      }
      .profile-page-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .private-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            margin: 0.5rem 0;
          }
        }
        .user-type {
          display: flex;
          flex-direction: column;
          align-items: center;
          .user-type-labels {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }
  }
}
