.select-options {
    display: flex;
    gap: 1rem;
}

.tab-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    .graph-zone {
        width: 100%;
    }
    .grading-table {
        .calc-type {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            .calc-type-label {
                font-weight: 600;
            }
        }
    }
    .grade-warning {
        width: 40rem;
        color: red;
        font-weight: 600;
        display: flex;
        gap: 0.5rem;
        align-items: flex-start;
    }
}
