.wrong-path {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: 100%;
  height: 100%;
  /* background-color: #81c6fd; */
  background-color: #7e9ab2;
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.not-found h1 {
  color: #fff;
}

.not-found img {
  width: 100%;
  max-width: 50rem;
}

.not-found h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.return-to-existance {
  font-family: inherit;
  font-size: 2rem;
  border-radius: 10rem;
  padding: 2rem 5rem;
  border: 1px solid #5e87ac;
  background-color: #506991;
  color: white;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.return-to-existance:hover {
  background-color: #50699190;
}
