.create-user {
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .create-user-form {
    width: 20%;
    margin: 0 auto;

    .create-user-buttons {
      .ant-form-item-control-input-content {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }

  .uploader-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .user-actions {
    svg {
      width: 2rem;
      height: 2rem;
      fill: #1677ff;
    }
  }
}
