.file-uploader {
    margin-top: 5rem;
    height: auto;
}

.users-list,
.download-file {
    margin-top: 5rem;
}

.download-file {
    display: flex;
    justify-content: center;
}

.steps-line {
    display: flex;
    justify-self: center;
    width: 80%;
}