.create-user {
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .create-user-form {
    width: 25%;
    margin: 0 auto;

    .create-user-buttons {
      .ant-form-item-control-input-content {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }

  .uploader-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .user-actions {
    svg {
      width: 2rem;
      height: 2rem;
      fill: #1677ff;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        fill: #0a5dc9;
        scale: 1.05;
      }
    }
  }
  .upload-users-csv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;

    .uploader-users-csv {
      width: 50%;
      margin: 0 auto;
    }
  }

  .submit-csv {
    width: fit-content;
    float: left;
  }
}

@media screen and (max-width: 1600px) {
  .create-user {
    .create-user-form {
      width: 30%;
    }
    .upload-users-csv .uploader-users-csv {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .create-user {
    .create-user-form {
      width: 40%;
    }
    .upload-users-csv .uploader-users-csv {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .create-user {
    .create-user-form {
      width: 50%;
    }
    .upload-users-csv .uploader-users-csv {
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .create-user {
    .create-user-form {
      width: 60%;
    }
    .upload-users-csv .uploader-users-csv {
      width: 80%;
    }
  }
}
