html {
  font-size: 10px;
  font-family: "Assistant", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar-container {
  flex: 1;
  min-width: 22rem;
  max-width: 22rem;
}

.content-container {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.header-container {
  flex: 1;
}

.main-content {
  flex: 14;
  padding: 3rem;
  overflow-y: auto;
  border: 2rem solid #f0f0f0;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: #333333;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
  color: #333333;
}

h3 {
  font-size: 1.7rem;
}

hr {
  background-color: #e4e4ed;
  height: 1px;
  width: 100%;
  margin: 2rem 0;
  border: none;
}

.button-large {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 2rem 7rem;
  text-align: center;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
}

.button-default {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
}

.button-small {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  text-align: center;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
}

.form-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #333333;
}

.input-icon-holder {
  position: relative;
  width: 100%;
}

.input-icon-holder input {
  margin-right: 3rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}

.form-input-group .ant-alert-error {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.5rem !important;
}

/* ------------------- Rich Text ------------------- */

.rich-text-content img {
  max-width: 100%;
  height: auto;
}

.ql-toolbar {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.ql-container {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right: unset !important;
}
.ql-editor {
  font-size: 2rem;
  font-family: inherit;
  text-align: right !important;
}

.ql-editor ol,
.ql-editor ul {
  padding: 0 1.5rem 0 0;
}

.ql-editor ol li,
.ql-editor ul li {
  padding: 0 3.5rem 0 0;
}

.ql-editor ol li .ql-ui::before,
.ql-editor ul li .ql-ui::before {
  margin-right: -1.2em !important;
}

.ql-font,
.ql-align,
.ql-code-block,
.ql-list[value="bullet"] {
  display: none !important;
}

/* ------------------- Rich Text ------------------- */

.ant-modal {
  right: 3.5%;
}

@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
