.create-project {
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
  .create-project-form {
    margin: 0 auto;
    width: 50%;

    .create-project-form-item {
      label {
        font-size: 1.7rem;
      }

      input {
        font-size: 1.7rem;
        padding: 0.5rem 0;
      }

      textarea {
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
      }

      .ant-select-selector {
        font-size: 1.7rem;
        padding: 0.5rem 1rem;

        .ant-select-selection-placeholder {
          padding: 0.5rem 1rem;
        }
      }
    }

    .form-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      button {
        font-size: 1.7rem;
        padding: 2rem 2.5rem;
      }
    }
  }
}

.project-created {
  button {
    width: 10%;
    border-radius: 2rem !important;
    .ant-float-btn-body {
      border-radius: 2rem !important;
    }
  }
  .float-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
