.project-container {
  display: flex;
  padding: 3rem;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  min-height: 30rem;
  border: 1px solid #e0e0e0;
  border-radius: 1.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
  .project-profile-header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;

    .project-title {
      max-width: 70%;
      text-align: center;
    }
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 666;
    animation: fadeIn 0.2s forwards;
    .confirm-registration {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 40rem;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background-color: white;
      padding: 3rem;
      border-radius: 1.5rem;

      .confirm-info {
        width: 85%;
      }

      .confirm-button {
        margin-top: 2rem;
        width: fit-content;
        font-weight: 700;
        border: 3px solid #1f7714;
        background-color: #1f7714;
        color: white;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s linear, background-color 0.2s ease-in;
        border-color: 0.2s linear;
        &:hover {
          transform: scale(1.05);
          color: white;
          border-color: #11420a;
        }
      }
    }
  }
  .project-advisors-list {
    margin: 3rem 0 0 0;
    display: flex;
    gap: 0.4rem;
    .project-advisor {
      gap: 0.6rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      border-radius: 1.5rem;
      padding: 0.5rem 1.6rem;
      background-color: rgba(22, 119, 255, 0.8);
      color: white;
      width: fit-content;
      transition: background-color 0.2s linear;
    }
  }

  .project-profile-navbar {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-right: 10rem;
    color: #6e6e6e;

    .project-navbar-item {
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
      transition: transform 0.1s linear;
      &:hover {
        transform: scale(1.05);
      }
    }

    .navbar-item-selected {
      color: #6e6e6e;
      border-bottom: 2px solid #ccc;
    }
  }

  .project-profile-line {
    width: 90%;
  }

  .project-profile-content {
    width: 80%;
  }

  .project-profile-info {
    .project-signup-button,
    .project-unsignup-button {
      width: fit-content;
      margin-right: auto;
      font-weight: 700;
      background-color: #82b9f7;
      border-radius: 1rem;
      padding: 0.5rem 1.5rem 0.8rem;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s linear, background-color 0.2s linear;
      &:hover {
        transform: scale(1.05);
        background-color: #5599e7;
      }
      .loading-registration {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
    .project-unsignup-button {
      background-color: #e75555;
      &:hover {
        background-color: #a53434;
      }
      .loading-registration {
        svg {
          fill: red;
        }
      }
    }
    .project-profile-info-emails {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .project-profile-info-email {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .advisor-email {
          font-size: 1.4rem;
          font-weight: 700;
          border-radius: 1.5rem;
          padding: 0.5rem 1.6rem;
          background-color: rgb(114, 191, 120);
          box-shadow: 0 4px 6px rgba(114, 191, 120, 0.8), 0 2px 4px rgba(0, 0, 0, 0.1);
          color: white;
          width: fit-content;
          cursor: pointer;
          transition: background-color 0.2s linear;
        }
      }
    }
    .project-profile-info-item {
      width: 100%;
      margin-bottom: 3rem;
      .students-list-actions {
        display: flex;
        gap: 1.5rem;
        svg {
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          transition: transform 0.2s linear;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .project-profile-info-title {
        font-weight: 500;
      }

      .project-profile-info-text {
        word-break: break-all;
      }
    }

    .project-badges {
      display: flex;
      gap: 1rem;
      .project-badge {
        padding: 0.4rem 1.4rem;
        border-radius: 1.5rem;
        color: #000; /* Optional: white text for better readability */
        font-weight: bold; /* Optional: bold text to emphasize the badge look */
        font-size: 1.2rem;
        display: inline-block; /* Makes sure the badge fits tightly around content */
      }

      .project-suitable {
        background-color: rgba(255, 201, 22, 0.8);
        box-shadow: 0 4px 6px rgba(255, 201, 22, 0.4), 0 2px 4px rgba(0, 0, 0, 0.1); /* Added softer shadows for a lifted badge effect */
      }

      .project-type {
        background-color: rgba(224, 122, 255, 0.8);
        box-shadow: 0 4px 6px rgba(198, 100, 218, 0.4), 0 2px 4px rgba(0, 0, 0, 0.1); /* Added softer shadows for a lifted badge effect */
      }
    }
  }
}
