.approve-decline-student {
  display: flex;
  gap: 1.5rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  svg {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
  }
}

.registration-status {
  cursor: pointer;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.project-management-actions {
  display: flex;
  gap: 1rem;
  align-items: center;

  svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    fill: #1677ff;
  }
}

.manage-projects-edit-record-modal {
  height: 80% !important;
  overflow-y: auto;

  .ant-descriptions-header {
    margin: 2rem 0 0;
  }

  .edited-title-modal-item {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  .ant-descriptions-item-content {
    width: 50%;
  }
}
