.header-container {
  min-height: 7.5rem;
  max-height: 7.5rem;
  img {
    width: 20rem;
    cursor: pointer;
  }

  .site-upper-header-right {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 80%;
    margin-right: 2rem;
  }

  .site-upper-header-right .collage-logo {
    width: 20rem;
    cursor: pointer;
  }

  .site-upper-header-left {
    position: absolute;
    top: 1.5%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .avatar-icon {
    cursor: pointer;
    transition: 0.2s all linear;
  }

  .avatar-icon:hover {
    transform: scale(1.1);
  }

  .notification-icon {
    cursor: pointer;
    font-size: 3.5rem;
    transition: 0.2s all linear;
  }

  .notification-icon:hover {
    transform: scale(1.1);
  }

  .logout-icon {
    cursor: pointer;
  }

  .logout-icon svg {
    font-size: 3.5rem;
    fill: #ff4d4f;
    transition: 0.2s all linear;
  }

  .logout-icon svg:hover {
    fill: #ff7875;
    transform: scale(1.1);
  }
}

.headermenu-popover-content {
  display: flex;
  flex-direction: column;
  .ant-divider {
    margin: 0;
  }
  .last-divider {
    border-color: black;
    margin-bottom: 0.8rem;
  }
  .notification-footer {
    margin: 0 auto;
  }

  .notification-list {
    position: relative;
    .notification-close {
      position: absolute;
      left: 1%;
      top: -10%;
      cursor: pointer;
      transition: 0.2s all linear;

      &:hover {
        color: #69b1ff;
      }
    }
    .notification-with-link {
      margin: 1.4rem 0 0 2rem !important;
    }
    .notification-no-link {
      margin: 1.4rem 0 0 2rem !important;
      cursor: default;
    }
    .notification-date {
      margin: 0 0 1.4rem;
      color: rgba(0, 0, 0, 0.45);
      font-size: 1.2rem;
    }
  }
}
