.ant-pagination-prev {
  svg {
    transform: rotate(180deg);
  }
}

.ant-pagination-next {
  svg {
    transform: rotate(180deg);
  }
}

.column-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
}
